# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__ 
* Python
* R
* Julia
* SQL 
* Scala

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas

|Data Science Tools|
|-----------------|
|Apache Spark|
|TensorFlow.js|
|Git|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

 
## Auther: Lakshmi Holla , Niveditha Pandith 
Name: 
Abduallh Alnafisah